node_modules
stuckwanyahgame
data
mean
tic-tac-toe
newfolder
instantgame
.idea
.env
.babelrc
*.sublime-project
*.sublime-workspace
package-lock.json
*.pem
*/.DS_Store
*.DS_Store
node_modules/
xnode_modules/
build/
config.json
app/images/cards
app/images/photos
app/javascripts/physics
app/javascripts/lib
app/sounds
views/physics
*.zip