<!DOCTYPE html>
<html id="stuckwanyah">
<head>
	<meta charset="utf-8">
	<title>About • StuckWanYah</title>
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">

	<link rel="preload" href="//connect.facebook.net/en_US/sdk.js" as="script"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="favicon" type="icon" href="/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="all">
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>About</h2>
	<h3>It's a thing to know</h3>

	<center>
		<table align="center">
			<tbody id="about">
			<tr>
				<td>
					<h4>What is "Stuck Wan Yah, Stak wan yah or stak wan" ?</h4>
					<p>
						We all know what it means in the context of our daily conversations, but I'm just gonna sum it up for you. <b>"Stak wan yah" or "stak wan"</b> <i>[in tok pisin]</i> is a pun that has subtle meanings. It is not known exactly when it was first coined up but was first used in the song "Narawan"; a 2016 single released from a collaboration between PNG's well-known artists 5-STAR, Jaro Local and Dr Doxx. From the hit-song the meaning of the term refers to someone that has major effect on your life say you are fatuated with them. It's stuck on your mind.
					</p>
					<p>
						Thus it explicitly used as an adjectival phrase to refer to a person's looks. "stack wan yah".
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h4>About "StuckWanYah"?</h4>
					<p>
						<b>StuckWanYah</b> is a PNG revamp version of Facemash; a Howard version of <b>hotornot.com</b> website created by <b>Mark Zuckerberg</b> for rating Howard students based on their looks back in 2003. The entire website was set up in one night, a span of eight hours near midnight to be specific. By morning, the site had accumulated a total of <b>22,000</b> hits which led to his suspension over violation of copyright, privacy, and breaching of Howard network security. The photos were programmatically <i>scraped</i> from the online facebooks of the nine houses at Harvard, starting with the Kirkland house. The site was later permanently taken down over the weekend.
					</p>
					<p>
						Unlike Facemash, StuckWanYah lets user vote his/her Facebook friends based on their hotness ("Stuckwanness"). The user login with Facebook and all his/her friends are retrieved from Facebook and stored on StuckWanYah's own database. Later two friends are randomly picked and the photos are put up next to each other letting user vote which one is hotter ("Stuck wan"). User has the option to be voted and not to be voted, he/she can block his/her own photo if he/she does not want to play the game.
					</p>
					<blockquote class="quote">
						When you play stuckwanyah, your friends will like you!
					</blockquote>

					<h4>In dept know about &amp; Technologies used</h4>
					<p>
						StuckWanYah started out as a learning experiment with the <b>NodeJs</b>, <b>MongoDB</b>, <b>JavaScript</b> and <b>AJAX</b> technologies and later extend to <b>Facebook Platform</b> with the idea of manipulating Facebook user database. Also the project is for experimenting on algorithm implementation and data structure.
					</p>
					<p>
						Unlike Facemash which was built on LAMP stack, StuckWanYah is built on the creator's taste of technology stack in other words it is built on mix technology. NodeJs runs the server, serving the database while rendering EJS in HTML which serves the client. StuckWanYah also makes use of Facebook Messenger Bot API. User sends a text message via StuckWanYah Facebook Page and receieves response from server. StuckWanYah also uses Facebook Login for keeping stateless persistant login of user using cookies and session.
					</p>
					<p>
						StuckWanYah implements a popular rating algorithm called <b><a href="http://en.wikipedia.org/wiki/Elo_rating_system"> Elo Rating System</a></b>. The system is used by large organisations to rank two-player game. 
					</p>
					<p align="center">
						<img class="img" src="/images/fm-about-9.jpg" width="500" border="0" alt="facemash" align="middle" style="width:100%;">
						<figcaption style="font-style:italic;">'Each photo has a base rating of 1400. At any given time "Photo A" has a rating Ra and "Photo B" has a rating Rb. When any two photos are matched up, there's an expectation of which will win based on their current rating. And all those expectations are express this way.' - taken from The Social Network movie</figcaption>
					</p>
					<p align="center">
						<img src="/images/elo_formula_ea.png" srcset="/images/elo_formula_ea.png" alt="Formula for ELO Rating System" style="padding:2px;border:0px;width:206px;">
						<br>
						<img src="/images/elo_formula_eb.png" srcset="/images/elo_formula_eb.png" alt="Formula for ELO Rating System" style="padding:2px;border:0px;width:206px">
						<figcaption style="font-style: italic;">
							Ea: Is the expectation that Girl A is hotter than Girl B. 
							<br>
							Eb: Is the expectation that Girl B is hotter than Girl A.
							<br>
							Ra: The rate at which Girl A has been hotter than other girls.
							<br>
							Rb: The rate at which Girl B has been hotter than other girls.
						</figcaption>
					</p>

				</td>
			</tr>
			</tbody>
		</table>

		<br/><br/><br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/t/CrisIoTheBot" onclick="sh('messengerbot')">Messenger Bot</a></li-->
					<li><a rel="nofollow" target="_blank" href="https://apps.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
                    <!-- <li><a href="/submit.html" onclick="sh('submit')">Submit</a></li> -->
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><a href="https://www.christianaugustyn.me" class="copyright">a Christian Augustyn production</a></p>
				<p class="copyright"><span>StuckWanYah &copy; 2018&nbsp;&#x00B7;&nbsp;Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
				<br>
			</div>
		</div>

	</center>
</main>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>
</body>
</html>