<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body>
<main id="main">
	<h1>Stuck Wan Yah!</h1>
	<h2>About</h2>
	<h3>It's a thing to know</h3>

	<center>
		<table align="center" style="padding:0 15px;">
			<tbody id="about">
			<tr>
				<td>
					<h4>What is "Stuck Wan Yah"?</h4>
					<p>
						"Stuck Wan Yah" is a pun for "stak wan yah or stak wan" [in tok pisin]. The term has subtle meanings. It is not known exactly when it was first coined up but was first used in the song "Narawan", the 2016 single released from a collaboration between PNG's well-known artists: 5-STAR, Jaro Local and Dr Doxx. From the song the meaning of the term refers to a person that has a major effect on someone's life or say that a girl, her crazyness, smile just won't fade away. It's stuck on your mind.
						<br>
						Its another meaning is used explicitly to refer to a person's looks. "Ol sa tok Hey stuck wan yeh".
						<br>
						When teens started using the term everywhere, in school, streets, social media, frankly the last time I looked up the term on Facebook I got 20 hits in relation to the term. Listening to teens same age as mine using the term and it got frenzy that caught my attention which led to the birth of 'Stuck Wan Yah' site.
						<br>
					</p>
					<p>
						The StuckWanYah website is a PNG revamp version of Facemash - a Howard version of hotornot.com website created by Mark Zuckerberg for rating Howard students based on their looks back in 2003. The site was set up in one night and got 22000 page hits that same night which put Mark into suspension for breaching Howard students privacy rights.
						Unlike Facemash, StuckWanYah works alongside Facebook. The website is embeded onto Facebook letting you vote for your friends' hotness. You give full rights to StuckWanYah to manipulate your photos on Facebook. In other words StuckWanYah lets you vote your Facebook friends.
					</p>
					<a href="https://www.messenger.com/t/1135063803224611" class="messenger_bot_link">Message StuckWanYah Bot</a>
					<blockquote class="quote">
						When you play stuckwanyah your friends will like you.
					</blockquote>
					<blockquote class="quote">
						It's time for putting your #1 on your friends' hotness.
					</blockquote>
				</td>
			</tr>
			<tr>
				<td>
					<h4>Timeline</h4>
					<p align="center">
						<img src="/images/fm-about-9.jpg" width="500" border="0" alt="facemash" align="middle" style="width:100%;">
					</p>
					<p>
						Huh yea, StuckWanYah is driven by a popular rating algorithm "ELO" Rating System.
					</p>

					<p>
						Each photo has a base rating of say 1400.
						At any given time "Girl A" has a rating	Ra and "Girl B" has a rating Rb.
						When any two photos are matched up, there's an expectation of which will win based on their current rating.
						And all those expectations are express this way.
					</p>
					<img src="/images/elo_formula_ea.png" srcset="/images/elo_formula_ea.png" alt="Formula for ELO Rating System" style="padding:2px;border:0px;width:206px;">
					<br>
					<img src="/images/elo_formula_eb.png" srcset="/images/elo_formula_eb.png" alt="Formula for ELO Rating System" style="padding:2px;border:0px;width:206px">


					<br><br>

				</td>
			</tr>
			</tbody>
		</table>

		<br/><br/><br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li>
					<li><a target="_blank" href="https://app.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah on Facebook</a></li>
					<li><a href="/about.html" onclick="sh('facebookpage')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<div class="fb-like"
					 data-href="https://stuckwanyah.herokuapp.com/about.html"
					 data-layout="standard"
					 data-action="like"
					 data-show-faces="true">
				</div>

				<p class="copyright"><span>StuckWanYah &copy; 2018&nbsp;&#x00B7;&nbsp;Made in PNG for fun.</span></p>
			</div>
		</div>

	</center>
</main>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>