<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-min.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body>
	<main id="main">
	<h1>Stuck Wan Yah!</h1>
	<h2>About</h2>
	<h3>It's a thing to know</h3>

	<center>
		<table width="500" align="center">
			<tbody id="about">
				<tr>
					<td>
						<h4>What is "Stuck Wan Yah"?</h4>
						<p>
							"Stuck Wan Yah" is a pun for "stak wan yah or stak wan" [in tok pisin]. The term has subtle meanings. It is not known exactly when it was first coined up but was first used in 2016 single "Narawan", a collaboration by PNG's well-known artists 5-STAR, Jaro Local and Dr Doxx. In the song the initial meaning of the term refers to a person that has a major effect on your life or say that a girl, her crazyness, smile just won't fade away. It's stuck on your mind.
							<br>
							Its another meaning is used explicitly to refer to a person's looks. "Ol sa tok Hey stuck wan yeh"
							<br><br>
						</p>
						<p>
							The StuckWanYah website is a PNG revamp version of Facemash - a Howard version of hotornot.com  website created by Mark Zuckerberg for rating Howard students based on their looks back in 2003.
							StuckWanYah works alongside Facebook. StuckWanYah depends on your Facebook data.
						</p>
						<a href="https://www.messenger.com/t/1135063803224611" class="messenger_bot_link">Message StuckWanYah Bot</a>
					</td>
				</tr>
				<tr>
					<td>
						<h4>Timeline</h4>
						<p align="center">
							<img src="/images/fm-about-9.jpg" width="500" border="0" alt="facemash" align="middle">
						</p>
						<p>
							Huh yea, StuckWanYah is driven by a popular rating algorithm "ELO" Rating System.
						</p>

						<p>
							Each photo has a base rating of say 1400.
							At any given time "Girl A" has a rating	Ra and "Girl B" has a rating Rb.
							When any 2 photos are matched up, there's an expectation of which will win based on their current rating.
							And all those expectations are express this way.
							<img src="/images/elo_formula_ea.png" srcset="/images/elo_formula_ea.png" alt="Formula for ELO Rating System" style="padding:2px;border:0px;">
							<br>
							<img src="/images/elo_formula_eb.png" srcset="/images/elo_formula_eb.png" alt="Formula for ELO Rating System" style="padding:2px;border:0px;">
						</p>

						<br><br>

					</td>
				</tr>
			</tbody>
		</table>

		<br/><br/><br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<li>·</li>
					<li><a target="_blank" href="https://www.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">Messenger Bot</a></li>
					<li>·</li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li>·</li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li>·</li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li>·</li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li>·</li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
			</div>
		</div>

	</center>
	</main>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<!--script src="http://connect.facebook.net/en_US/all.js"></script-->
	<script src="/javascripts/all.js"></script>	
	<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>