<!DOCTYPE html>
<html id="stuckwanyah">
<head>
	<title>About • StuckWanYah</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
  	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>Cannon ball</h2>
	<h3></h3>

	<center>

		<canvas id="gameCanvas"></canvas>		

		<br/><br/><br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/t/CrisIoTheBot" onclick="sh('messengerbot')">Messenger Bot</a></li-->
					<li><a rel="nofollow" target="_blank" href="https://apps.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><a href="https://www.facebook.com/christianjfa" class="copyright">a Christian J.F Augustyn production</a></p>
				<p class="copyright"><span>StuckWanYah &copy; 2018&nbsp;&#x00B7;&nbsp;Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
				<div class="fb-like"
					 data-href="https://stuckwanyah.herokuapp.com/"
					 data-layout="standard"
					 data-action="like"
					 data-show-faces="true">
				</div>
				<br>
			</div>
		</div>

	</center>
</main>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>
<script type="text/javascript">
	
</script>
</body>
</html>