<!DOCTYPE html>
<html id="stuckwanyah">
<head>
	<title>trashtalk</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
	<script src="/javascripts/lib/socket.io.js"></script>
	<script src="/javascripts/jquery.js"></script>
<script>
	var socket = io.connect('http://localhost:5000');

	var message = $("#message");
	var username = $("#username");
	var send_message = $("#send_message");
	var send_username = $("send_username");
	var chatroom = $("#chatroom");

	send_username.click(function() {
		console.log(username.val());
		socket.emit('change_username', {username: username.val()})
	});

	// listen for new message
	socket.on("new_message", (data) => {
		console.log(data);
		chatroom.append("<p class=\"message\">" + data.username + ": " + data.message + "</p>");
	});

	// emit a username
	send_message.click(function() {
		console.log(username.val());
		socket.emit("new_message", {message: message.val()})
	});

	// emit typing
	message.bind("keypress", () => {
		socket.emit('typing');
	});

	socket.on("typing", (data) => {
		feedback.html("<p><i>" + data.username + " is typing a message..." + "</i></p>");
	})

	// on connection to server, ask for user's name with an anonymous callback
	socket.on('connect', function(){
		// call the server-side function 'adduser' and send one parameter (value of prompt)
		socket.emit('adduser', prompt("What's your name?"));
	});

	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('updatechat', function (username, data) {
		$('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
	});

	// listener, whenever the server emits 'updaterooms', this updates the room the client is in
	socket.on('updaterooms', function(rooms, current_room) {
		$('#rooms').empty();
		$.each(rooms, function(key, value) {
			if(value == current_room){
				$('#rooms').append('<div>' + value + '</div>');
			}
			else {
				$('#rooms').append('<div><a href="#" onclick="switchRoom(\''+value+'\')">' + value + '</a></div>');
			}
		});
	});

	// listener for 'thread' event, which updates messages
	socket.on("thread", function(data) {
		$("#thread").append("<li>" + data + "</li>");
	});

	// sends message to server, reset & prevents default form action
	$("form").submit(function() {
		var message = $("#message").val();
		socket.emit("messages", message);
		this.reset();
		return false;
	});

	function switchRoom(room){
		socket.emit('switchRoom', room);
	}
	
	// on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click( function() {
			var message = $('#data').val();
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendchat', message);
		});

		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
	});

</script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>Chat zone</h2>
	<h3>...</h3>

	<center>
		<table align="center" style="padding:0 15px;">
			<tbody id="chatzone"><tr><td>
				<div style="float:left;width:250px;border-right:1px solid black;height:300px;padding:10px;overflow-y:auto;">
				<b>ROOMS</b><div id="rooms"></div></div></td><td>
				<div style="float:left;width:300px;height:250px;overflow-y:auto;padding:10px;background:#e6e6fa2e;">
				<div id="conversation"></div></div></td></tr><tr span="2"><td></td><td>
				<input id="data" style="width:200px;" placeholder="Type message...">
				<input type="button" id="datasend" value="send"></td></tr>
			</tbody>
		</table>
	</center>
</main>
</body>
</html>