<!DOCTYPE html>
<html lang="en-PG">
<head>
    <title>Login with Facebook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
</head>
<body>
<!-- <script type="text/javascript" src="/javascripts/fb_init.js?fb_app_id=267969823906&amp;fb_fanpage_id=226607102386&amp;v=1532629527"></script> -->
<!-- <div id="fb-root"></div> -->
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1791165357568831&autoLogAppEvents=1"></script> -->
<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1791165357568831&autoLogAppEvents=1"></script> -->
    <main id="main">
<!-- <script>
var finished_rendering = function() {
  console.log("finished rendering plugins");
  var spinner = document.getElementById("spinner");
  spinner.removeAttribute("style");
  spinner.removeChild(spinner.childNodes[0]);
}
FB.Event.subscribe('xfbml.render', finished_rendering);
</script> -->
</div>
    <h1>StuckWanYah</h1>
    <h2></h2>
    <h3>StuckWanYah uses your Facebook pictures</h3>

    <span>By clicking 'Login with Facebook' button, you have read and agreed to the site's <a href="/disclaimer.html">terms of use</a>.</span>

    <center>
        <table id="connect" align="center" style="padding:0 15px;">
            <tr>
                <td>
                    <% if (!connected) { %>
                    <button id="loginbutton" title="Connect to Facebook" aria-label="Connect to Facebook" type="button" style="background:none;border:0px;margin:10px 14px;padding:0px;position:relative;cursor:pointer;user-select:none;width:245px;height:47px;overflow:hidden;top:0px;right:0px;">
                        <img alt="" src="/images/TSXtq24.png" style="position:absolute;left:0px;top:0px;width:245px;height:47px;user-select:none;border:0px;padding:0px;margin:0px;">
                    </button>

                    <a href="/api/auth/facebook" type="button" aria-label="Login with Facebook" style="margin:10px 14px">
                        <img alt="" src="/images/TSXtq24.png" style="background:none;border:0px;margin:0;padding:0px;position:relative;cursor:pointer;user-select:none;width:245px;height:47px;overflow:hidden;top:0px;right:0px;left:0px;">
                    </a>

                    <!-- <form name="connect" action="/foo" method="post">
                        <input type="hidden" name="token" value="1234567890">
                        <input type="hidden" name="profileid" placeholder="Facebook User ID" class="text" value="100004177278169" style="width: fit-content;"></br>
                        <button type="submit" draggable="false" title="Connect to Facebook" aria-label="Connect to Facebook" type="button" class="button">Login</button>
                    </form> -->

                    <% } else { %>
                        <img src="<%= `https://graph.facebook.com/${session.user_id}/picture?type=square&height=200&width=200`%>" alt="userimg" class="fbpic">
                    <% } %>

                    <div class="about-permissions">
                        <div class="title">About the permissions required</div>
                        <div class="permission"><strong>Facebook profile picture, age, gender, friends</strong>
                            <br>StuckWanYah works by taking your Facebook friends' profile picture and lets you compare who is hotter based on the looks by voting the picture.
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <br/><br/><br/><br/>

        <% if (connected) { %>
        <div class="footer">
            <div class="container">
                <ul>
                    <li><a href="/" onclick="sh('home')">Home</a></li>
                    <!-- <li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li> -->
                    <li><a target="_blank" href="https://www.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
                    <li><a href="/about.html" onclick="sh('facebookpage')">About</a></li>
                    <li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
                    <li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
                    <li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
                    <li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
                </ul>
                <p class="copyright"><a href="https://www.facebook.com/christianjfa" class="copyright">a Christian Augustyn production</a></p>
                <p class="copyright"><span>StuckWanYah &copy; 2018 &#x00B7; Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
            </div>
        </div>
        <% } %>
    </center>
</main>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript">
    window.onload = function(){
        App.init(!0);
    };
</script>
</body>
</html>
