<!DOCTYPE html>
<html>
<head>
	<title>Disclaimer</title>
  	<meta charset="utf-8">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">

	<link rel="preload" href="//connect.facebook.net/en_US/sdk.js" as="script"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="favicon" type="icon" href="/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="all">
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>StuckWanYah Terms of Use, Copyright &amp; Disclaimer</h2>

	<center>
		<table id="disclaimer">
			<tr>
				<td>
					<h5>Terms of using this website and/or its Affiliate webapps.</h5>
					<p>These Terms of Use apply to all StuckWanYah webapps. Source code for StuckWanYah is available free of charge under MIT open source software license at https://github.com/chrisaugu/StuckWanYah</p>

					<h5><strong>1. Scope</strong></h5>
					(a) Definitions.
					<p>
						1.1 Your use of StuckWanYah website and all of its webapps (referred to collectively as the "StuckWanYah" in this document) is subject to this terms. "webapps" or "apps" referred to StuckWanYah's Faceboook Messenger bot, its Facebook Page, its Facebook InstantGame and its Facebook TabApp. "creator" herein referred to the developer of StuckWanYah. This document explains and sets out some of the terms of the use of the app. "StuckWanYah", "Stuckwanyah", "Stuckwan" or "stuckwanyah" collectively means StuckWanYah. "website" means StuckWanYah's website, "StuckWanYah bot" or "bot" means StuckWanYah Facebook Messenger bot. "app" referred to StuckWanYah.
					</p>

					<h5><strong>2. Accepting the Terms</strong></h5>
					<p>
						2.1 In order to use StuckWanYah, you must first agree to the Terms. You may not use StuckWanYah if you do not accept the Terms.<br>If you object to any of these Terms you should stop using StuckWanYah immediately.<br>
					</p>
					<p>
						2.2 You can accept the Terms by:<br>
						(A) clicking to login with Facebook and signing in with Facebook, where this option is made available to you by StuckWanYah in the login page; or<br>
						(B) by actually using StuckWanYah. In this case, you understand and agree that StuckWanYah will treat your use of the app as acceptance of the Terms from that point onwards.
					</p>

					<h5><b>3. Use of StuckWanYah by you</b></h5>
					<p>Your use of this app constitutes acceptance of the Terms of Use.</p>
					<p>
						3.1 You agree to use StuckWanYah only for purposes that are permitted by the Terms.
					</p>
					<p>
						3.2 You agree that you will not engage in any activity that interferes with or disrupts StuckWanYah.
					</p>
					<p>
						3.3 You agree that you are solely responsible for (and that the creator of StuckWanYah has no responsibility to you or to any third party for) any breach of your obligations under the Terms.
					</p>
					<p>
						3.4 You agree to the use of your data in accordance with Facebook's privacy policies.
					</p>

					<h5><b>4. Types of information collected:</b></h5>
					<p>4.1 In order for StuckWanYah to work, it collects and processes your personal data from Facebook. The types of data StuckWanYah collects from Facebook includes, but are not limited to:</p>
					<ul>
						<li>Your Facebook profile picture</li>
						<li>Your Facebook profile link</li>
						<li>Your Facebook name, age and gender</li>
						<li>Your Facebook friends list including their name, age, gender and profile picture</li>
					</ul>
					<!-- <p>
						4.2 StuckWanYah uses Facebook profile picture of your friends to make matches. Two random pictures are place beside each other and the user votes which picture is hotter based on the looks by clicking the picture.<br/>
						StuckWanYah reference each picture with its facebook account link<br/>
						StuckWanYah uses the age of the picture to find all other pictures with the same age range to make matches while using gender to filter the matches so that only two pictures of same gender is randomly picked and display.<br>
						StuckWanYah uses your Facebook friends.

					</p> -->
					<p>
						4.3 For information about Facebook's data protection practices, please read Facebook's privacy policy at https://developers.facebook.com/policy. This policy explains how Facebook treats your personal information, and protects your privacy, when you use StuckWanYah.
					</p>

					<h5><strong>5. Your privacy and sharing of your personal infomation collected</strong></h5>
					<p>
						5.1 StuckWanYah does not share any of the user personal information with any third-party. How StuckWanYah uses data collected from Facebook Graph API is govern by Facebook Platform Policy. If you ever find this app breaching your privacy rights and wishes your pictures to be removed from StuckWanYah, follow the <b>Section 6.</b> of this document for instruction on blocking your picture.
					</p>
					<p>
						5.2 For information about how StuckWanYah uses your Facebook data, please read Facebook's privacy policy at https://developers.facebook.com/policy. This policy explains how Facebook treats your personal information, and protects your privacy, when you use StuckWanYah.
					</p>

					<h5><b>6. Removal of your contents from StuckWanYah</b></h5>
					<p>6.1 The Terms will continue to apply until terminated by you as set out below.</p>
					<p>6.2 You may at any time, terminate your use of StuckWanYah if at any one time you find StuckWanYah a tool of harassment, offensive and/or breaching your privacy rights in one way or the other and thereby wishes for your photo to be removed from this app, you may do so by going to StuckWanYah Facebook page <a href="https://www.facebook.com/iamstuckwanyah">https://www.facebook.com/iamstuckwanyah</a> or going to the submit page of this website and send "Block me" or click the "Block me" tab on the persitent menu situated at the bottom left of the StuckWanYah bot. All your contents including your name (photo, etc..) will be blocked immediately from StuckWanYah and you will neighter be able to be voted nor vote again.
					</p>

					<h5><b>7. Disclaimer</b></h5>
					<p>
						7.1 To the extent that the pictures of users on this website and/or its webapps are provided for fun use only and only after with your compliance with these terms, the creator reserves no right to all the pictures provided and shall not be liable for any disputes of any nature regarding the subject as you had agreed to comply with the terms.
					</p><p>
						7.2 All the content and the graphics published in the "about" page of this website except the pictures of users are the property of the creator of StuckWanYah. The creator reserves the right to all these contents.
					</p>
					<p>
						7.3 Every user is solely responsible for anything that he/she uploads on StuckWanYah.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h5><b>Effective as of January 24, 2018</b></h5>
				</td>
			</tr>

		</table>
		<br/><br/><br/><br/>


		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<li><a target="_blank" href="https://www.messenger.com/iamstuckwanyah/" onclick="sh('messengerbot')">Messenger Bot</a></li>
					<li><a target="_blank" href="https://www.facebook.com/iamstuckwanyah" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
                    <!-- <li><a href="/submit.html" onclick="sh('submit')">Submit</a></li> -->
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<!-- <li><a href="/friends.html" onclick="sh('friends')">Friends</a></li> -->
				</ul>
				<p class="copyright"><a href="https://www.christianaugustyn.me" class="copyright">a Christian Augustyn production</a></p>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
			</div>
		</div>
	</center>
</main>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>

</body>
</html>