<!DOCTYPE html>
<html>
<head>
	<title>Disclaimer</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>

<body>
	<main id="main">

	<h1>Stuck Wan Yah!</h1>
	<h2>Terms of Use Copyright & Disclaimer</h2>
	
	<center>
		<table style="padding:0 15px;">
			<tr>
				<td>
					<h5>Terms of using this website and/or its Affiliate products.</h5>

					<h5><b>1. Scope</b></h5>
					<p>
						The StuckWanYah! website and all of its affiliate webapps may include its Faceboook Messenger bot, its Facebook Page and/or its Facebook TabApp, hereon refers to as "StuckWanYah". The term "website" refers to StuckWanYah website, "service" refers to the work of StuckWanYah, "StuckWanYah bot" and/or "bot" refers to StuckWanYah Facebook Messenger bot, "StuckWanYah app" refers to StuckwanYah Facebook Tabapp, "apps", refers to StuckWanYah Facebook
						The developer/creator of StuckWanYah hereby refer to as the "creator", will neighter be held liable for any misconduct activities in any sort that may or may not occur regarding the subject nor will be held accountable for any such activities as StuckWanYah was initially intended for fun use only. Anyone (herein refer to as the "user") has agreed to comply with the StuckWanYah terms by clicking "Getting Started" on StuckWanYah bot and/or using the StuckWanYah website.
						The use of the service is only permitted if you accept these terms of use.
					</p>

					<h5><b>2. Terms of Use</b></h5>

					<h5>The following terms of use applies to the use of this service</h5>

					<h5>By accessing this website and/or its Facebook webapps , the creator assume you accept these terms in full. Do not continue to use StuckWanYah if you do not accept all of the terms stated on this page.</h5>
					
					<h5><b>3. Types of information collected:</b></h5>
					<p>In order for StuckWanYah to be more fun, it makes use of Facebook Graph API by collecting users' personal info and data from Facebook. The types of personal information and data that StuckWanYah collects from Facebook includes, but are not limited to:</p>
					<ul>
						<li>Facebook profile pictures</li>
						<li>Facebook profile link</li>
						<li>Facebook list of friends</li>
						<li>Facebook info (name, age and gender)</li>
					</ul>

					<a href="https://developers.facebook.com/policy"><em>Go to Facebook Platform Policy for more...</em></a>

					<h5><b>4. Sharing of infomation collected</b></h5>
					<p>
						StuckWanYah does not share any of your personal information with any third-party services. The StuckWanYah service is govern by Facebook Privacy Policy. If you ever find this website breaching your privacy rights and wishes your photo to be removed from StuckWanYah, follow the above instruction to block your photo.
					</p>

					<h5><b>5. Your privacy rights &amp; removal of contents</b></h5>
					<p>
						At any one time you find this website (and/or it's Facebook webapps) a tool of harassment, offensive and/or breaching your privacy rights in one way or the other and thereby wishes for your photo to be removed from this service, you may do so by going to "<a href="https://web.facebook.com/Stuck-Wan-Yah-508382589546607">Stuck Wan Yah</a>" Facebook page and send "Block me" or click the "Block me" tab on the persitent menu situated at the bottom left. Your name (photo, etc..) will be blocked immediately from StuckWanYah and you will neighter be able to be voted nor vote again.
					</p>
					
					<h5><b>6. Disclaimer</b></h5>
					<p>
						To the extent that the pictures and the information on the website and/or webapps are provided for fun use only after your compliance with the terms, the creator will not be liable for any disputes of any nature regarding the subject as you had agreed to comply with the terms when you continue using this website and/or its Facebook webapps;
                        <br><br>
                        All the content and graphics published in this e-book are the property of Tutorials Point (I)
                        Pvt. Ltd. The user of this e-book is prohibited to reuse, retain, copy, distribute or republish
                        any contents or a part of contents of this e-book in any manner without written consent
                        of the publisher.
                        We strive to update the contents of our website and tutorials as timely and as precisely as
                        possible, however, the contents may contain inaccuracies or errors. Tutorials Point (I) Pvt.
                        Ltd. provides no guarantee regarding the accuracy, timeliness or completeness of our
                        website or its contents including this tutorial. If you discover any errors on our website or
                        in this tutorial, please notify us at contact@tutorialspoint.com
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<h5><b>Effective as of January 24, 2018</b></h5>
				</td>
			</tr>

		</table>
		<br/><br/><br/><br/>


		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li-->
					<li><a target="_blank" href="https://app.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah on Facebook</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
			</div>
		</div>
</center>
</main>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>