<!DOCTYPE html>
<html>
<head>
	<title>Flames</title>
  	<meta charset="utf-8">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="favicon" type="icon" href="/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="all">
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>Flaming! <emoji color="red" data-emoji="beating_heart">🔥</emoji> or !Flaming</h2>
	<h4>Enter full names and click button</h4>

	<center>
		<table>
			<tbody id="flames">
			<tr>
				<td><label>[boy name]</label></td>
				<td></td>
				<td><label>[girl name]</label></td>
			</tr>
			<tr>
				<td><input type="text" name="boy" placeholder="Mark Zuckerberg" class="text"></td>
				<td></td>
				<td><input type="text" name="girl" placeholder="Priscilla Chan" class="text"></td>
			</tr>
			<tr id="results" align="center" >
				<td colspan="3" height="35"></td>
			</tr>
			<tr align="center">
				<td colspan="3">
					<button id="main_button" class="button">Get Flamed</button>
				</td>
			</tr>
			</tbody>
		</table>

		<br/><br/><br/><br/>


		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li-->
					<li><a target="_blank" href="https://apps.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><a href="https://www.facebook.com/christianjfa" class="copyright">a Christian J.F Augustyn production</a></p> 
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
			</div>
		</div>

	</center>
</main>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>
<script type="text/javascript">
(function(){
	"use strict";

	var $resultEl, $results, $boyName, $girlName, $boyNameVal, $girlNameVal, $boyNameField, $girlNameField;
	var $FLAMES = ["FRIENDS", "LOVERS", "ADMIRE", "MARRIAGE", "ENEMIES"];

	$resultEl = document.querySelector("#results td");
	$boyNameField = document.getElementsByName("boy")[0];
	$girlNameField = document.getElementsByName("girl")[0];

	// get fields value
	$boyNameVal = $boyNameField.value;
	$girlNameVal = $girlNameField.value;

	console


	function checkingAvailability(){
	    // checking conditions
	    if ($boyNameVal !== "" && $girlNameVal !== "") {
	        $results = Hot("<3");
	        $resultEl.innerHTML = $results;
	    } else {
	        $results = Err("One or two fields are empty");
	        $resultEl.innerHTML = $results;
	    }
	}

	//Checks for any differences between the lists
	function compareLists(newList, oldList) {
	  //checks which .length is longer
	  var lLength;
	  if (oldList.length >= newList.length) {
	    lLength = oldList.length;
	  } else {
	    lLength = newList.length;
	  }
	  //cyclyes through and compares the two lists
	  for(let i = 0; i < lLength; i++) {
	    //if old list item isn't in the new list they are no longer friends
	    if ( !newList.includes(oldList[i]) ) {
	      console.log("1-1 "+oldList[i]);
	      //makes sure item is defined
	      if (typeof oldList[i] !== 'undefined') {
	        console.log("1-2 "+oldList[i]);
	        unFriends.push(oldList[i]);
	      }
	      //if new list item isn't in the old list they are a new friend.
	    }
	    if ( !oldList.includes(newList[i]) ) {
	      console.log("2-1");
	      if (typeof newList[i] !== 'undefined') {
	        console.log("2-2");
	        newFriends.push(newList[i]);
	      }
	    } else {
	      console.log("nope");
	    }
	
	  }
	}

	function Err(e) {
	    return ("<h2 class='error'>"+e+"</h2>");
	}
	function Hot(m) {
	    return ("<h1 class='hot'>"+$boyNameVal+" "+m+" "+$girlNameVal+"</h1>");
	}
	function Cold(c) {
	    return ("<h1 class='hot'>"+c+"</h1>");
	}

	var caps = function (str) {
	    return [str.charAt(0).toUpperCase(), str.substring(1)].join(" ");
	};
	var processNames = function(fn, str) {
	    return str.split(" ").map(fn).join(" ");
	};

	document.getElementById("main_button").addEventListener("click", function(e) {
	    console.log(processNames(caps, $boyNameVal));
	});

	var A = 10;
	var B = 11;

	console.log("(A & B) => " + (A & B)); // 
	console.log("(A | B) => " + (A | B)); // 
	console.log("(A ^ B) => " + (A ^ B)); // either A or B is true, not both
	console.log("(~B) => " + (~ B)); // reverses bits in the operand
	console.log("(A << 1) => " + (A << 1));
	console.log("(A >> 1) => " + (A >> 1));
	console.log("(A >>> 1) => " + (A >>> 1));


	// run throught the two names letters by letters and check if any two letters are exist in both name
	// if then cancel both letters out
	// check again
	var str1, str2, temp1, temp2, temp3, temp4;
	str1 = "jena";
	str2 = "james";
	temp3 = [];
	temp4 = [];
	for (var i = 0; i < str1.length; i++) {
		temp1 = str1.charAt(i);
		for (var j = 0; j < str2.length; j++) {
			temp2 = str2[j].charAt(j);
			if (temp1 == temp2) {
				temp1;
				temp2;
			} else {
				temp3.push(temp1);
				temp4.push(temp2);
			}
		}
	}

	var temp1 = [], str = "jena";
	for (var i = 0; i < str.length; i++) {
		temp1.push(str.charAt([i]));
		//console.log(str.charAt([i]));
	}

	for (var i = 0; i < str.length; i++) {
		if (str2.includes(str[i]))
			console.log(str[i]);
	}

}());
</script>
</body>
</html>