<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Friends</title>
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">

	<link rel="preload" href="//connect.facebook.net/en_US/sdk.js" as="script"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" title="StuckWanYah">

	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">

	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>My Facebook friends</h2>
	<h3>Facebook profile pictures for all my friends. Click each picture to go to their respective Facebook profile.</h3>

	<center>
		<table>
			<tbody id="photos"></tbody>
		</table>

		<br/><br/><br/><br/>

		<div class="footer">
		
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/iamstuckwanyah/" onclick="sh('messengerbot')">Messenger Bot</a></li>
					<li><a target="_blank" href="https://www.facebook.com/iamstuckwanyah" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li-->
                    <!-- <li><a href="/submit.html" onclick="sh('submit')">Submit</a></li> -->
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><a href="https://www.christianaugustyn.me" class="copyright">a Christian Augustyn production</a></p>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
			</div>
		</div>

	</center>
</main>

<script type="text/javascript" src="/javascripts/jquery.js?v=2.1.4"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>
</body>
</html>