<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body id="main">
	<h1>Stuck Wan Yah!</h1>
	<h2>Facebook</h2>
	<h3>Here are all the current facebook profile pictures for all your friends. click each picture to go to their Facebook profile.</h3>

	<center>
		<table>
			<tbody id="photos"></tbody>
		</table>

		<br/><br/><br/><br/>


		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<li>·</li>
					<li><a target="_blank" href="https://www.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">Messenger Bot</a></li>
					<li>·</li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li>·</li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li>·</li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li>·</li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li>·</li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
			</div>
		</div>

	</center>

	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>