<!DOCTYPE html>
<html>
<head>
	<title>Game</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body>
	<!--script type="text/javascript">(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
    	js.src = "https://connect.facebook.net/en_US/sdk.js";
    	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script-->
	<script type="text/javascript">
		/**
		 * JavaScript Game
		 */
var Player = function(game) {
    this.game = game;
    this.x = 100;
    this.y = 100;
};
Player.prototype.update = function () {
    this.x += 1;
    this.y += 1;
    this.ctx = this.game.context;
};
Player.prototype.draw = function () {
    this.game.drawRectangle('#f00', this.x, this.y, 10, 10);
};
var Game = function() {
    this.fps = 60;
    this.canvas = document.getElementById('world');
    this.canvas.width = 320;
    this.canvas.height = 180;
    this.context = this.canvas.getContext('2d');
    this.context_width = this.canvas.width;
    this.context_height = this.canvas.height;
    this.player = new Player(this);
    var game = this;
    var gameloop = setInterval(function () {
        game.updateAll();
        game.drawAll();
    }, 1000 / this.fps);
    
    window.addEventListener('keydown', function (e) {
    	Game.key = e.keyCode;
    })
    window.addEventListener('keyup', function (e) {
    	Game.key = false;
    })
};
Game.prototype.updateAll = function () {
    this.player.update();
};
Game.prototype.drawAll = function () {
    this.drawRectangle('#ffffff', 0, 0, this.context_width, this.context_height);
    this.player.draw();
};
Game.prototype.drawRectangle = function (color, x, y, width, height) {
    this.context.fillStyle = color;
    this.context.fillRect(x, y, width, height);
};
</script>
<main id="main">
	<h1>StuckWanYah</h1>

	<center>
		<table width="500" align="center">
			<tbody id="about">
			<tr>
				<td>
					<canvas id="world" width="740" height="640">
						This browser can not run this game (canvas support missing).
					</canvas>

					<script type="text/javascript">
                        var game = new Game();
					</script>
				</td>
			</tr>
			</tbody>
		</table>

		<br/><br/><br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li-->
					<li><a target="_blank" href="https://apps.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><a href="https://www.facebook.com/christianjfa" class="copyright">a Christian J.F Augustyn production</a></p>	
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
			</div>
		</div>
	</center>
</main>
</body>
</html>