<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no, minimal-ui">
    
    <title>StuckWanYah</title>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>

    <meta name="apple-mobile-web-app-capable" content = "yes">
    <meta name="apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="format-detection" content = "telephone=no">

    <!-- force webkit on 360 -->
    <meta name="renderer" content = "webkit"/>
    <meta name="force-rendering" content = "webkit"/>
    <!-- force edge on IE -->
    <meta http-equiv="X-UA-Compatible" content = "IE=edge,chrome=1"/>
    <meta name="msapplication-tap-highlight" content = "no">

    <!-- force full screen on some browser -->
    <meta name="full-screen" content = "yes"/>
    <meta name="x5-fullscreen" content = "true"/>
    <meta name="360-fullscreen" content = "true"/>

    <!-- force screen orientation on some browser -->
    <meta name="screen-orientation" content = "portrait"/>
    <meta name="x5-orientation" content = "portrait">

    <meta name="browsermode" content = "application">
    <meta name="x5-page-mode" content = "app">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style-mobile.css">
</head>
<body>
  <script type="text/javascript">(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<main id="main">

  <h1>StuckWanYah</h1>

  <center>
    <div id="dialog"></div>
    <div id="GameContainer">
      <div class="menu">
        <div id="game" contentId="GameCanvas" class="item selected">Play</div>
        <div id="about" contentId="stuckwanyah" class="item">About</div>
        <div id="rankings" contentId="leaderboard" class="item">Rankings</div>
        <div id="friends" contentId="friendslist" class="item">Friends list</div>
      </div>
      <!-- <canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas> -->
      <div id="GameCanvas" class="page selected" align="center" width="1080" height = "1920">
        <h3>Were we let in for our looks? Nope. Will we be judge on them? Yes.</h3>
        <h2>Who's hotter? Click to choose</h2>
      </div>
      <div id="stuckwanyah" class="page" style="width:360px;">
        <strong>What is StuckWanYah</strong>
        <p>
          If you do not know that word means, just don't play oh.</br>
          I'mma tell you what it does. StuckWanYah is multi web platform game that lets you vote your friends profile pictures on facebook.
        </p>
      </div>
      <div id="leaderboard" class="page"></div>
      <div id="friendslist" class="page"></div>

    </div>
  </center>
</main>

<!-- build:js -->
<script src="/javascripts/mock/fbinstant.6.0.mock.js"></script>
<!-- endbuild -->
<!--script type="text/javascript" src="https://connect.facebook.net/en_US/fbinstant.6.0.js"></script-->
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/game.bundle.js"></script>
<script type="text/javascript">
  window.onload = function() {
    console.log("init StuckWanYah");
    if (FBInstant) {
      FBInstant.initializeAsync()
            .then(function() {
                var playerInfo = new Array();
                playerInfo.name = FBInstant.player.getName();
                playerInfo.photo = FBInstant.player.getPhoto();
                playerInfo.id = FBInstant.player.getID();
                playerInfo.locale = FBInstant.getLocale();
                console.log("facebook playerInfo.name is " + playerInfo.name);
            });
      FBInstant.startGameAsync(function() {
        console.log("Loading screen removed")
      })
    } else {
      console.log("FBInstant not loaded");
    }
  }

  var isLoaded = null;
  function checkReady() {
    if (isLoaded === true) {
      return;
    }
    if (document.readyState === 'interactive' || document.readyState === 'complete') {
      isLoaded = true;
      document.removeEventListener('readystatechange', checkReady);
      // initCCGame();
    }
  }

  document.addEventListener('readystatechange', checkReady);
  checkReady();
</script>
</body>
</html>
