<!DOCTYPE html>
<html id="stuckwanyah">
<head>
	<meta charset="utf-8">
	<title>StuckWanYah</title>
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" title="StuckWanYah">

	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<script src="//connect.facebook.net/en_US/sdk.js"></script>

</head>
<body>
<main id="main">

	<h1>StuckWanYah</h1>

	<center>
		<% if (images) { %>

			<h3>Were we let in for our looks? Nope. Will we be judge on them? Yes.</h3>
			<h2>Who's hotter? Click to choose</h2>

				<table>
					<tr id="photos">
						<td valign="top" align="center" class="photo"><a href="rate?winner=<%= images[0].imageId %>&loser=<%= images[1].imageId %>" onclick="sh('vote')" data-fb-id="<%= images[0].facebookId %>"><img class="img" src="/photos/<%= images[0].picture %>"></a></td>
						<td id="OR" width="55" align="center"><a href="tie?player1=<%= images[0].imageId %>&player2=<%= images[1].imageId %>" style="text-decoration:none;"><b>OR</b></a></td>
						<td valign="top" align="center" class="photo"><a href="rate?winner=<%= images[1].imageId %>&loser=<%= images[0].imageId %>" onclick="sh('vote')" data-fb-id="<%= images[1].facebookId %>"><img class="img" src="/photos/<%= images[1].picture %>"></a></td>
					</tr>
					<tr align="center">
						<td><%= images[0].name %></td>
						<td></td>
						<td><%= images[1].name %></td>
					</tr>
					<tr id="ratings" align="left">
						<td><b>Ratings:</b> <%= images[0].ratings %></td>
						<td></td>
						<td><b>Ratings:</b> <%= images[1].ratings %></td>
					</tr>
					<tr id="wins" align="left">
						<td><b>Wins:</b> <%= images[0].wins %>, <b>Losses: </b><%= images[0].losses %>, <b>Draws: </b><%= images[0].draws %></td>
						<td></td>
						<td><b>Wins:</b> <%= images[1].wins %>, <b>Losses: </b><%= images[1].losses %>, <b>Draws: </b><%= images[1].draws %> </td>
					</tr>
					<tr id="scores" align="left">
						<td><b>Score:</b> <%= images[0].score %> </td>
						<td></td>
						<td><b>Score:</b> <%= images[1].score %> </td>
					</tr>
					<tr id="expectations" align="left">
						<td><b>Expected:</b> <%= expected(images[1].ratings, images[0].ratings) %> </td>
						<td></td>
						<td><b>Expected:</b> <%= expected(images[0].ratings, images[1].ratings) %> </td>
					</tr>
				</table>

            <% } else { %>
				<table>
					<tr>
						<td valign="top" align="center">
							<div id="heck" class="container current-app-info"></div>
						</td>
					</tr>
				</table>
        <% } %>

		<br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" data-action="sh('home')">Home</a></li>
					<!--li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li-->
					<li><a target="_blank" href="https://apps.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><a href="https://www.facebook.com/christianjfa" class="copyright">a Christian J.F Augustyn production</a></p>
				<p class="copyright"><span>StuckWanYah &copy; 2018 &#x00B7; Made in PNG for fun.</span></p>
			</div>

			<%#
				<div class="counter">
					<span class="counter-number counter-bg dollar-sign"><p>$</p></span>
					<span class="counter-number counter-bg "><p>4</p></span>
					<span class="counter-number counter-bg "><p>8</p></span>
					<span class="counter-number counter-bg comma"><p>,</p></span>
					<span class="counter-number counter-bg "><p>2</p></span>
					<span class="counter-number counter-bg "><p>8</p></span>
					<span class="counter-number counter-bg "><p>3</p></span>
					<span class="counter-hour">/ in 2 hours</span>
				</div>
				%>

		</div>
	</center>
</main>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>
</body>
</html>