<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
  <link rel="favicon" type="icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/javascripts/scripts.ja">
  <script type="text/javascript"><!--
    function showTutorial(name){
      document.myform.stage.value = name
    }
    //-->
  </script>
</head>
<body>
  <main id="main">
    <h1>StuckWanYah</h1>
    <h2>Map</h2>

    <center>
      <form name="myform">
        <input type="text" name="stage" size="20" />
      </form>

      <!-- Create Mappings -->
      <img src="/images/road.png" alt="HTML Map" border="0" usemap="#tutorials"/>
      <map name="tutorials">
        <area shape="poly"
        coords="74,0,113,29,98,72,52,72,38,27"
        href="/perl/index.html" alt="Perl Tutorial"
        target="_self"
        onMouseOver="showTutorial('perl')"
        onMouseOut="showTutorial('')"/>
        <area shape="rect"
        coords="22,83,126,125"
        href="/html/index.htm" alt="HTML Tutorial"
        target="_self"
        onMouseOver="showTutorial('html')"
        onMouseOut="showTutorial('')"/>
        <area shape="circle"
        coords="73,168,32"
        href="/php/index.html" alt="PHP Tutorial"
        target="_self"
        onMouseOver="showTutorial('php')"
        onMouseOut="showTutorial('')"/>
      </map>
  
      <br/><br/><br/><br/>

      <div class="footer">
        <div class="container">
          <ul>
            <li><a href="/" onclick="sh('home')">Home</a></li>
            <!--li><a target="_blank" href="https://www.messenger.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('messengerbot')">Messenger Bot</a></li-->
            <li><a target="_blank" href="https://apps.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">StuckWanYah App</a></li>
            <li><a href="/about.html" onclick="sh('about')">About</a></li>
            <li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
            <li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
            <li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
            <li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
          </ul>
          <p class="copyright"><a href="https://www.facebook.com/christianjfa" class="copyright">a Christian J.F Augustyn production</a></p>
          <p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
        </div>
      </div>
    </center>
  </main>
</body>
</html>