<!DOCTYPE html>
<html>
<head>
	<title>Projectile Energy</title>
</head>
<body>
	<div id="graphContainer">
		<canvas id="canvas" width="100" height="400"></canvas>
		<canvas id="canvas_bg" width="550" height="400"></canvas>
	</div>
	<script type="text/javascript" src="/javascripts/physics/vector2D.js"></script>
	<script type="text/javascript" src="/javascripts/physics/ball2.js"></script>
	<script type="text/javascript" src="/javascripts/physics/graph.js"></script>
	<script type="text/javascript" src="/javascripts/physics/projectile-energy.js"></script>
</body>
</html>