<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Psiphon | Uncensored Internet access for Windows and Mobile</title>
<link href="main/favicon.ico" rel="shortcut icon" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="vpn,ssh,http proxy,proxy,censorship,circumvention,freedom,security,psiphon1,psiphon2,psiphon3,ios,android,windows,m1,apple,silicon,arm,open,source,free,psicash,psix">
<meta name="description" content="Psiphon is circumvention software for Windows and Mobile platforms that provides uncensored access to Internet content">
<link href="./main/main_2021.css" rel="stylesheet" type="text/css">
</head>
<body>
<style>
         a{
         text-decoration: underline;
         }
      </style>
<div class="header" style="background-color: #131849; height: 63px; ">
<a href="index.html">
<img class="psilogo-header" src="main/psiphonlogo.png" style="padding-top: 10px;">
</a>
<form method="post" action="download.html?psiphonca">
<input class="download_header" type="submit" value="Get Psiphon">
</form>

</div>
<br>
<div class="container-flex-items1">
<div class="container-centered-text-standard">
<h1>Privacy Policy of the Psiphon Chat Bot Facebook Application</h1>
<h3 style="color: black; text-align: left">Introduction</h3>
The Psiphon Chat Bot Facebook Application (&quot;Psiphon Chat Bot Facebook Application&quot;, or &quot;Psiphon Chat Bot Facebook App&quot;) is a Facebook Messenger Chat Bot Application which is used to answer questions sent to the Psiphon Facebook Page via Facebook Messenger.
<br>
<br>
Psiphon Inc. (&quot;Psiphon Inc.&quot;, &quot;Psiphon&quot;, &quot;us&quot;, &quot;we&quot; or &quot;our&quot;) is committed to protecting and respecting your privacy. This Privacy Policy describes how we collect, store, use, and distribute personal data acquired through the Psiphon Chat Bot Facebook App.
<br>
<br>
Psiphon Inc. collects and uses User information in order to analyze the use of the Psiphon Chat Bot Facebook App, and to improve the Psiphon Chat Bot Facebook App, and other Psiphon services and products.
<br>
<br>
Psiphon Inc. aims to only collect anonymized or aggregate data where possible, and aims to minimize collection of personal information of users
<br>
<br>
In this Privacy Policy, references to &quot;you&quot;, &quot;user&quot;, or &quot;User&quot; means the person whose personal data we collect, use and process. Please read this Privacy Policy carefully to understand our treatment and use of personal data.
<br>
<br>
We will use your personal data only for the purposes and in the manner outlined below, and in compliance with applicable laws.
<br>
<br>
Please note that by using the Psiphon Facebook Chat Bot App, you acknowledge that you have read and understand this Privacy Policy.
<br>
<br>
In order to receive information about your Personal Data, the purposes, and the parties the Data is shared with, contact Psiphon Inc. using the contact information below.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Contact Information</h3>
<a href="mailto:fb-bot-privacy@psiphon.ca" style="text-decoration: underline;">fb-bot-privacy@psiphon.ca</a>
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Definitions</h3>
The terms &quot;Personal Information&quot; and &quot;Personal Data&quot; used in this document refer to any information about an individual which makes their identity apparent, or easy to ascertain from the information, or data which can be used to identify, contact, or precisely geolocate an individual.
<br>
<br>
The terms &quot;aggregate data&quot; or &quot;aggregate information&quot; refer to data or information which are created by combining several sources of data or information in such a way that all individual personal information has been removed so that the data or information cannot be easily associated with any particular individual.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Data Available to Psiphon Inc.</h3>
The “Data Available to Psiphon Inc.” section describes all of the information and data concerning the User that are made available to Psiphon Inc. when the User interacts with the Psiphon Chat Bot Facebook App. Further sections will describe if and how the data and information will be used or shared by Psiphon Inc.
<br>
<br>
Anything sent by the User to the Psiphon Chat Bot Facebook App is made available to Psiphon Inc. This may include but is not limited to information and messages sent in text format, timestamps of messages sent, images, videos, and other media.
<br>
<br>
Certain User’s Data is made available to Psiphon Inc. when the User interacts with the Psiphon Chat Bot Facebook App and grants Facebook Basic Information permissions to the Psiphon Chat Bot Facebook App. Information is also made available to Psiphon Inc. that is posted publicly on a User’s Facebook Profile. This may include certain User’s Data such as Facebook ID, name, picture, gender, and locale. Certain connections of the User, such as Friends list, are also available. If the User has made more of their Data public, more information will be available.
<br>
<br>
Data and information which are considered by Psiphon Inc. to include or reveal Personal Information of a User may be accessible to Psiphon Inc. via Facebook permissions, Facebook profiles, and User interaction with the Psiphon Chat Bot Facebook App.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Collected Data</h3>
&quot;Collected Data&quot; will be used in the remainder of this document to refer to the User data described in this section (“Collected Data”) of the document. Collected Data is a subset of the Data Available to Psiphon Inc.
<br>
<br>
The collected data refers to data and information that Psiphon Inc. may collect, analyze, and otherwise use for the purposes explained in the remainder of this document and for other business analytics purposes.
<br>
<br>
Psiphon Inc. may collect the content of conversations had with the Psiphon Chat Bot Facebook App. This includes any messages sent to the Psiphon Chat Bot Facebook App and any information contained in those messages; any images, videos, or other types of media or information sent to the Psiphon Chat Bot; and information on the selected conversation options sent to the Psiphon Chat Bot.
<br>
<br>
Psiphon Inc. may collect information regarding the languages used to communicate with the Psiphon Chat Bot Facebook App.
<br>
<br>
Psiphon Inc. may collect country information of the User if that information is made available to Psiphon Inc. via basic permissions of Facebook or through public Facebook profile information of the User.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Facebook permissions asked by this Application</h3>
This Application may ask for some Facebook permissions allowing it to perform actions with the User&apos;s Facebook account and to retrieve information, including Personal Data, from it.
<br>
<br>
For more information about the following permissions, refer to the <a href="https://developers.facebook.com/docs/authentication/permissions/">Facebook permissions documentation</a> and to the <a href="https://www.facebook.com/about/privacy/">Facebook privacy policy.</a>
<br>
<br>
The permissions asked are the following:
<h4 style="color: black; text-align: left">Basic information</h4>
By default, this includes certain User’s Data such as Facebook ID, name, picture, gender, and their locale. Certain connections of the User, such as Friends list, are also available. If the User has made more of their Data public, more information will be available.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Purposes of Collecting the Data and Use of the Collected Data</h3>
All of the Collected Data as described in the “Types of Data Collected” section of this document may be collected for the purposes of analyzing the use of the Psiphon Chat Bot Facebook App, for improving the Psiphon Chat Bot Facebook App, and for improving other Psiphon services and products.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Data we Share with our Partners</h3>
Psiphon may share the following data with our sponsors, organizations we collaborate with, and civil society researchers.
<ul>
<li>
Aggregate location data, limited to Country, from Users who have interacted with the Psiphon Chat Bot Facebook App.
<ul>
<li>Aggregate Country data may include the number of Users in particular Countries who have interacted with the Psiphon Chat Bot Facebook App, the types of questions asked by Users in particular Countries, and the conversation token options selected by the Users in particular Countries. The location data will not include User’s address, or city. </li>
</ul>
</li>
<li>Aggregate information about numbers of interactions with the Psiphon Chat Bot Facebook App.</li>
<li>Summary of commonly asked questions to the Psiphon Chat Bot Facebook App.</li>
<li>Anonymized information about which conversation token options were selected and how frequently.</li>
</ul>
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Data that Will Not be Shared with our Partners</h3>
Psiphon will not share personal information obtained from the User or from Facebook.com about a User with any third party. This includes but is not limited to name, contact information, friends list information, Facebook ID, and personal information even if sent directly to the Psiphon Chat Bot Facebook App by the User
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Mode and place of processing and storing the Data</h3>
<h4 style="color: black; text-align: left">Methods of processing</h4>
Psiphon Inc. attempts to process and store the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
<br>
<br>
The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated.
<br>
<br>
Any and all User data made available to Psiphon Inc. may be accessible to any and all staff of Psiphon Inc.
<h4 style="color: black; text-align: left">Place</h4>
Any and all information and data made available to the Psiphon Chat Bot Facebook App may be stored on servers and computers owned and operated by Psiphon Inc, or on third party hosting provider servers, and are subject to their privacy policies.
<h4 style="color: black; text-align: left">Retention time</h4>
The Data is kept for the time necessary to provide the service requested by the User, or for the time necessary for Psiphon Inc. to analyze the data for the purposes outlined in this document. The User can request that Psiphon Inc. remove the data by using the contact information provided in this document.
</div>
<div class="container-centered-text-standard">
<h3 style="color: black; text-align: left">Additional information about Data collection and processing</h3>
<h4 style="color: black; text-align: left">Legal action</h4>
The Collected Data may be used for legal purposes by Psiphon Inc., in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.
<br>
<br>
Psiphon Inc. may be required to share Collected Data with public authorities upon request of public authorities.
<h4 style="color: black; text-align: left">Additional information about User&apos;s Personal Data</h4>
In addition to the information contained in this privacy policy, the Psiphon Chat Bot Facebook App may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.
<h4 style="color: black; text-align: left">System logs and maintenance</h4>
For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System logs).
<h4 style="color: black; text-align: left">The rights of Users</h4>
Users have the right to request information about whether their Personal Data has been stored by Psiphon Inc. and can contact Psiphon Inc. to inquire about this information, and request that Psiphon Inc. delete this information.
<br>
<br>
If personal data has been collected into an aggregate format and/or anonymized, Psiphon Inc. cannot ascertain the identity of individual Users whose information went into creating the aggregate or anonymized data, so cannot provide individual Users with information about how their data was used to inform aggregate and/or anonymized information.
<br>
<br>
Requests should be sent to Psiphon Inc. at the contact information set out above in the contact information section of this document.
<h4 style="color: black; text-align: left">Changes to this privacy policy</h4>
Psiphon Inc. reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that Psiphon Inc. remove the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data Psiphon Inc. has about Users.
</div>
<div class="container-centered-text-standard">
<em>Last Updated: March 31 2020</em>
</div>
</div>
<br>
<div id="cookieConsent">
<b>psiphon.ca</b> uses cookies to help better understand how our users heard about us.<br class="mobile_br"> <a href="cookiepolicy.html" target="_blank"><u>Find out more here</u></a>.
<a href="#" class="cookieConsentOK" onClick="if (!window.__cfRLUnblockHandlers) return false; 
            document.cookie=&quot;cp=1;path=/&quot;;
            node=document.getElementById(&quot;cookieConsent&quot;);
            if (node != null) {
            node.style.display=&quot;none&quot;;
            };
            return(false);
            " data-cf-modified-47b4374a40142710c379f30d-="">OK</a>
</div>
<div class="footer">
<div class="footercontainer">
<div class="footer-left">
<h2 style="color: #000000; text-align: left; font-size: 33px; letter-spacing: 0.1px;">Psiphon.</h2>
<br>
</div>
<div class="footer-right">
<div class="flex-by3-1-footer">
<div class="footer-column">
<br>
<h4>Company</h4>
<a href="about.html" class="footer-link">About us</a>
<br>
<a href="open-source.html" class="footer-link">Open Source</a>
<br>
<a href="https://blog-en.psiphon.ca" class="footer-link"> Blog</a>
</div>
</div>
<div class="flex-by3-2-footer">
<div class="footer-column">
<br>
<h4>Policies</h4>
<a href="privacy" class="footer-link">Privacy Policy</a>
<br>
<a href="cookiepolicy.html" class="footer-link">Cookie Policy</a>
<br>
<a href="fbbotprivacypolicy.html" class="footer-link">Facebook Bot</a>
<br>
<a href="license.html" class="footer-link">License</a>
</div>
</div>
<div class="flex-by3-3-footer">
<div class="footer-column">
<br>
<h4>Help</h4>
<a href="faq.html" class="footer-link">FAQ</a>
<br>
<a href="user-guide.html" class="footer-link">User Guide</a>
<br>
<a href="https://getpsiphon.ca/guide/guide" class="footer-link">Psiphon Guide</a>
<br>
<a href="https://getpsiphon.ca/psicash/faq" class="footer-link">PsiCash</a>
<br>
</div>
</div>
</div>
</div>
<br>
<div class="footercontainer">
<div class="footer-follow-cc">
Follow us here:
<br>
<a href="https://twitter.com/psiphoninc"><img src="main/twitter_icon.png" class="socials-logos" alt="twitter"></a> &nbsp; <a href="https://www.facebook.com/Psiphon-207377692624236/"><img src="main/facebook_icon.png" class="socials-logos" alt="facebook"></a>
<br>
<br>
&copy; 2021 Psiphon Inc.
</div>
</div>
</div>
<script type="47b4374a40142710c379f30d-text/javascript">
         if ((document.cookie.length == 0) || (document.cookie.indexOf("cp=") < 0)) {
           node=document.getElementById("cookieConsent");
           if (node != null) {
               node.style.display="block";
           }
         }
      </script>
<script type="47b4374a40142710c379f30d-text/javascript">
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-55023458-4', 'auto');
         ga('send', 'pageview');
      </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-55023458-4" type="47b4374a40142710c379f30d-text/javascript"></script>
<script type="47b4374a40142710c379f30d-text/javascript">
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-55023458-4');
      </script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="47b4374a40142710c379f30d-|49" defer=""></script></body>
</html>
