<!DOCTYPE html>
<html>
<head>
	<title>Racing</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body onload="startGame()">
    <main id="main">
        <center>
            <div id="canvascontainer"></div>
        </center>
    </main>
    <script type="text/javascript">
        var myGamePiece;
        var myBackground;
        var myDistance;
        var myObstacles = [];

        function startGame() {
            myGamePiece = new component(150, 70, "/images/car.png", 410, 300, "image");
            myDistance = new component("30px", "Consolas", "black", 280, 40, "text");
            myBackground = new component(820, 370, "/images/road.png", 0, 0, "background");
            myGameArea.start();
        }

        var myGameArea = {
            canvas: document.createElement("canvas"),
            start: function() {
                this.canvas.width = 820;
                this.canvas.height = 370;
                this.context = this.canvas.getContext("2d");
                document.getElementById("canvascontainer").appendChild(this.canvas);
                this.frameNo = 0;
                this.interval = setInterval(updateGameArea, 20);
                window.addEventListener('keydown', function (e) {
                    myGameArea.keys = (myGameArea.keys || [])
                    myGameArea.keys[e.keyCode] = true;
                })
                window.addEventListener('keyup', function (e) {
                    myGameArea.keys[e.keyCode] = false;
                })
            },
            clear: function() {
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
            },
            stop: function() {
                clearInterval(this.interval);
            }
        }

        function everyinterval(n) {
            if (myGameArea.frameNo / n % 1 == 0) {return true;}
            return false;
        }

        function component(width, height, color, x, y, type) {
            this.type = type;
            if (type == "image" || type == "background") {
                this.image = new Image();
                this.image.src = color;
            }
            this.width = width;
            this.height = height;
            this.x = x;
            this.y = y;
            this.speed = 0;
            this.speed = 0;
            this.speedX = 0;
            this.speedY = 0;
            this.gravity = 0.05;
            this.gravitySpeed = 0;
            this.bounce = 0.6;
            this.update = function() {
                ctx = myGameArea.context;
                if (this.type == "text") {
                    ctx.font = this.width + " " + this.height;
                    ctx.fillStyle = color;
                    ctx.fillText(this.text, this.x, this.y);
                } else if (this.type == "image" || type == "background") {
                    ctx.drawImage(this.image, this.x, this.y, this.width, this.height);
                    if (type == "background") {
                        ctx.drawImage(this.image, this.x, this.y - this.height, this.width, this.height);
                    }
                } else {
                    ctx.fillStyle = color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
            }
            this.newPos = function() {
                this.gravitySpeed += this.gravity;
                this.x += this.speedX;
                this.y += this.speedY + this.gravitySpeed;
                if (type == "background") {
                    if (this.y == +(this.height)) {
                        this.y = 0;
                    }
                }
                this.hitBottom();
            }
            this.hitBottom = function() {
                var rockbottom = myGameArea.canvas.height - this.height;
                if (this.y > rockbottom) {
                    this.y = rockbottom;
                    this.gravitySpeed = -(this.gravitySpeed * this.bounce);
                }
            }
            this.crashWith = function(otherobj) {
                var myleft = this.x;
                var myright = this.x + (this.width);
                var mytop = this.y;
                var mybottom = this.y + (this.height);
                var otherleft = otherobj.x;
                var otherright = otherobj.x + (otherobj.width);
                var othertop = otherobj.y;
                var otherbottom = otherobj.y + (otherobj.height);
                var crash = true;
                if ((mybottom < othertop) || 
                    (mytop > otherbottom) ||
                    (myright < otherleft) ||
                    (myleft > otherright)) {
                    crash = false;
                }
                return crash;
            }
        }

        function updateGameArea() {
            var x, y;
            for (i = 0; i < myObstacles.length; i += 1) {
                if (myGamePiece.crashWith(myObstacles[i])) {
                    myGameArea.stop();
                    return;
                }
            }
            myGameArea.clear();
            myGameArea.frameNo += 1;
            if (myGameArea.frameNo == 1 || everyinterval(150)) {
                x = myGameArea.canvas.width;
                y = myGameArea.canvas.height - 20;
                myObstacles.push(new component(100, 20, "red", x / 2.9, 0));
            }
            myBackground.newPos();
            myBackground.update();
            for (var i = 0; i < myObstacles.length; i++) {
                myObstacles[i].x -= 1;
                myObstacles[i].y += 6.5;
                myObstacles[i].update();
            }
            myGamePiece.speedX = 0;
            myGamePiece.speedY = 0;
            if (myGameArea.keys && myGameArea.keys[37]) {myGamePiece.speedX += -1; }
            if (myGameArea.keys && myGameArea.keys[39]) {myGamePiece.speedX += 1; }
            if (myGameArea.keys && myGameArea.keys[38]) {myBackground.speedY += 1; }
            if (myGameArea.keys && myGameArea.keys[40]) {myBackground.speedY += -1; }
            myDistance.text = "DISTANCE: " + myBackground.speedY + " kmph";
            myDistance.update();
            myGamePiece.newPos();
            myGamePiece.update();
        }

        function move(dir) {
            if(dir == "up") {myGamePiece.speedY -= 1;}
            if(dir == "down") {myGamePiece.speedY += 1;}
            if(dir == "left") {myGamePiece.speedX -= 1;}
            if(dir == "right") {myGamePiece.speedX += 1;}
        }
        
        function clearmove() {
            myGamePiece.speedX = 0;
            myGamePiece.speedY = 0;
        }
    </script>
</body>
</html>