<!DOCTYPE html>
<html>
<head>
	<title>Random words</title>
</head>
<body>
<script type="text/javascript">
var alphabet = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"];
var frequency = [{a: 82},	{b: 15},	{c: 28},	{d: 42},	{e: 127},	{f: 22},	{g: 20},	{h: 61},	{i: 70},	{j: 2},	{k: 8},	{l: 40},	{m: 24},	{n: 67},	{o: 75},	{p: 19},	{q: 1},	{r: 60},	{s: 63},	{t: 90},	{u: 27},	{v: 10},	{w: 24},	{x: 2},	{y: 20},	{z: 1}]

function generateWords() {
	var rand = Math.random();
	var words;
}
</script>
</body>
</html>