<!DOCTYPE html>
<html>
<head>
	<title>Rankings</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body id="main">
	<h1>Stuck Wan Yah!</h1>
	<h2>Rankings</h2>
	<h3>Top 10 hottest friends<!--by
		<select id="ranking_type_field">
			<option accesskey="w" value="wins">winings</option>
			<option accesskey="l" value="losses">losings</option>
			<option accesskey="d" value="draws">drawings</option>
			<option accesskey="r" value="ratings">ratings</option>
		</select>
		by gender
		<select id="ranking_type_gender">
			<option accesskey="f" value="both">both</option>
			<option accesskey="f" value="female">female</option>
			<option accesskey="m" value="male">male</option>
		</select-->
	</h3>

	<center>
		<table align="center" style="padding:0 15px;width:0;">
			<thead>
				<tr>
					<th onclick="sortList()">Contender</th>
					<th></th>
					<th onclick="sortList()">Ratings</th>
					<th></th>
					<th onclick="sortList()">Ranks</th>
				</tr>
			</thead>
			<tbody id="rankings">
			</tbody>
		</table>

		<br/><br/><br/><br/>


		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<li><a target="_blank" href="https://www.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">Messenger Bot</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
			</div>
		</div>

	</center>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<!--script src="http://connect.facebook.net/en_US/all.js"></script-->
	<script src="/javascripts/all.js"></script>	
	<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>