<!DOCTYPE html>
<html>
<head>
	<title>Rankings</title>
  	<meta charset="utf-8">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="favicon" type="icon" href="/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="all">
  	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body>
<main id="main">
	<h1>StuckWanYah</h1>
	<h2>Rankings</h2>
	<h3>Top 10 hottest friends <!--by
		<select id="ranking_type_field" onchange="change_myselect(this.value)">
			<option accesskey="w" value="wins">winings</option>
			<option accesskey="l" value="losses">losings</option>
			<option accesskey="d" value="draws">drawings</option>
			<option accesskey="r" value="ratings">ratings</option>
		</select>
		by gender
		<select id="ranking_type_gender" onchange="change_myselect(this.value)">
			<option accesskey="f" value="both">both</option>
			<option accesskey="f" value="female">female</option>
			<option accesskey="m" value="male">male</option>
		</select-->
	</h3>

	<center>
		<table align="center" style="padding:0 15px;width:0;">
			<thead>
			<tr>
                <th onclick="sortList()">Rank</th>
				<th></th>
				<th onclick="sortList()">Facebook Friends</th>
				<th></th>
				<th onclick="sortList()">Ratings</th>
			</tr>
			</thead>
			<tbody id="rankings" style="background: linear-gradient(#f70000, #007e00);">
			</tbody>
		</table>

		<br/><br/><br/><br/>


		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					li><a target="_blank" href="https://www.messenger.com/iamstuckwanyah/" onclick="sh('messengerbot')">Messenger Bot</a></li>
					<li><a target="_blank" href="https://www.facebook.com/iamstuckwanyah" onclick="sh('facebookpage')">StuckWanYah App</a></li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li> 
                    <!-- <li><a href="/submit.html" onclick="sh('submit')">Submit</a></li> -->
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<!-- <li><a href="/friends.html" onclick="sh('friends')">Friends</a></li> -->
				</ul>
				<p class="copyright"><a href="https://www.christianaugustyn.me" class="copyright">a Christian Augustyn production</a></p> 
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun, fueled by coca-cola, coffee, great music &amp; movies.</span></p>
			</div>
		</div>

	</center>
</main>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript">
	window.onload = function() {
		App.init(!0);
	};
</script>
</body>
</html>