<!DOCTYPE html>
<html>
<head>
	<title>Submit</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet-min.css">
	<meta name="description" content="StuckWanYah lets you vote for your Facebook friends' hotness">
	<link rel="favicon" type="icon" href="/favicon.ico">
</head>
<body>
	<main id="main">

	<h1>Stuck Wan Yah!</h1>
	<h2>Got A Comment Or Question?</h2>
	<h4>I'd love to hear what you think about StuckWanYah. Good or Bad. Have a suggestion for a new feature? Shoot it over to me. <br>Have a Harry Potter conspiracy theory? Share it with me!</h4>
	
	<center>
		<form id="submit" action="/api/submit" method="post" data-form="submit">
		<table width="500">
			<tr><td><input type="text" name="name" placeholder="Your name" class="text"></td></tr>
			<tr><td><input type="text" disabled required="true" name="fb_id" data-fb-id="" placeholder="Your Facebook ID *" class="text"></td></tr>
			<tr><td><textarea type="text" name="message" placeholder="Message *" class="text" rows="4"></textarea>
					<span id="counter">120 characters remaining</span>
			</td></tr>
			<tr><td><input type="submit" data-action="submit" value="Send message" class="button">
					<div class="results" style="display:inline;"></div>
			</td></tr>
		</table>
		</form>

		<br/><br/><br/><br/>

		<div class="footer">
			<div class="container">
				<ul>
					<li><a href="/" onclick="sh('home')">Home</a></li>
					<li>·</li>
					<li><a target="_blank" href="https://www.facebook.com/Stuck-Wan-Yah-508382589546607/" onclick="sh('facebookpage')">Messenger Bot</a></li>
					<li>·</li>
					<li><a href="/about.html" onclick="sh('about')">About</a></li>
					<li>·</li>
					<li><a href="/disclaimer.html" onclick="sh('disclaimer')">Disclaimer</a></li>
					<li>·</li>
					<li><a href="/submit.html" onclick="sh('submit')">Submit</a></li>
					<li>·</li>
					<li><a href="/rankings.html" onclick="sh('rankings')">Rankings</a></li>
					<li>·</li>
					<li><a href="/friends.html" onclick="sh('friends')">Friends</a></li>
				</ul>
				<p class="copyright"><span>StuckWanYah &copy; 2018 · Made in PNG for fun.</span></p>
			</div>
		</div>
	</center>
	</main>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>	
</body>
</html>